.header{
    display:flex;
    flex-direction:row;
    height:55px;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;
    z-index: 100;
}
.left-section{
    display:flex;
    align-items:center;
    cursor:pointer;
}
.hamburger{
    height:24px;
    margin-left:24px;
    margin-right:20px;
}
.youtube{
    height:20px; 
}
.middle-section{
    
    display:flex;
    flex:1;
    align-items:center;
    margin-left:200px;
    margin-right:200px;
}
.search-bar{
    flex:1;
    width:0;
    height:36px;
    padding-left:10px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(223, 220, 220);
    border-radius:2px;
    box-shadow: inset 1px 2px 3px, rgba(0,0,0,0.05);

}
.search-button{
    height:39px;
    width:66px;
    margin-right:20px;
    font-size:16px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(223, 220, 220);
    background-color:rgb(240, 240, 240);
    margin-left:-1px;
   
}

.search-button,
.voice,
.create-container,
.youtube-apps-container,
.notifications{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-button .tooltip,
.voice .tooltip,
.create-container .tooltip,
.youtube-apps-container .tooltip,
.notifications .tooltip{
    position:absolute;
    background-color:grey;
    color:white;
    padding-right:8px;
    padding-left:8px;
    padding-top:4px;
    padding-bottom:4px;
    font-size:12px;
    border-radius:2px;
    opacity:0;
    transition:opacity 0.15s;
    bottom:-30px;
    pointer-events: none;
    white-space: nowrap;
    
}

.search-button:hover .tooltip,
.voice:hover .tooltip,
.create-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications:hover .tooltip{
    opacity:1;
    
}

.voice{
    height:36px;
    width:36px;
    border-radius:18px;
    border:none; 
    background-color:rgb(245, 245, 245);  
}
.search-bar::placeholder{
    font-family:Arial;
    font-size:16px;
}
.search-icon{
    height:25px;
    margin-top:4px;
}
.voice-icon{
    margin-top:4px;
    height:24px;
}
.right-section{
    width:180px;
    margin-right:20px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-shrink: 0;
}
.upload{
    height:24px;
}
.apps{
    height:24px;
}
.notifications{
    height:24px;
}
.profile{
    height:24px;
    width:24px;
   border-radius:12px;
   
}
.notification{
    position: relative;
    
}
.notification-number{
    position: absolute;
    background-color: rgb(186, 28, 28);
    color:white;
    top:-2px;
    right:-5px;
    font-family:roboto,arial;
    font-size:11px;
    border-radius:10px;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
}
.sidebar{
   z-index:1;
}
